*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: peru;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}

img{
    width: 200px;
    height: auto;
}

.rewardImage{
    width:50px;
    height:50px;
}

.rewardContainer{
    border: 2px black ridge;
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}

.itemContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#shopContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#petContainer{
    display: flex;
    flex-direction: column;
    border: 2px black ridge;
    justify-items: center;
}

.rewardInstances{
    font-size: 40px;
    color: rgb(107, 107, 73);
}